<div class="container">
  <h2>Тести Вчителя</h2>

  <div class="form-group form-inline">
    <label for="statusSelect">Виберіть статус</label>
    <select id="statusSelect" class="selector form-control" (change)="onStatusChange($event)">
      <option value="В очікуванні">В очікуванні</option>
      <option value="Прийняті">Прийняті</option>
      <option value="Відхилені">Відхилені</option>
    </select>
    <button class="btn btn-primary add-test-btn" (click)="addTest()">Додати тест</button>
  </div>

  <ul class="test-list">
    <li *ngFor="let test of filteredTests" class="test-item">
      <h3>{{ test.testTheme }}</h3>
      <p>Статус: {{ test.status }}</p>
      <a [href]="test.testUrl" target="_blank">Посилання на тест</a>
      <button *ngIf="test.status === 'waiting' || test.status === 'denied'" class="btn btn-secondary" (click)="editTest(test)">Змінити</button>
    </li>
  </ul>
</div>

<!-- Модальне вікно -->
<div class="modal" [ngClass]="{ 'is-active': isModalOpen }">
  <div class="modal-content">
    <h3>{{ isEditMode ? 'Змінити тест' : 'Додати новий тест' }}</h3>
    <div class="form-group">
      <label for="testTheme">Назва</label>
      <input type="text" id="testTheme" class="form-control" [(ngModel)]="newTest.testTheme">
    </div>
    <div class="form-group">
      <label for="testUrl">Посилання</label>
      <input type="text" id="testUrl" class="form-control" [(ngModel)]="newTest.testUrl">
    </div>
    <div class="form-group">
      <label for="group">Група</label>
      <input type="text" id="group" class="form-control" [(ngModel)]="newTest.group">
    </div>
    <div class="form-group">
      <button class="btn btn-primary" (click)="submitTest()">{{ isEditMode ? 'Зберегти' : 'Відправити' }}</button>
      <button class="btn btn-secondary" (click)="closeModal()">Скасувати</button>
    </div>
  </div>
  <div class="modal-background" (click)="closeModal()"></div>
</div>

<app-side-menu></app-side-menu>
