<div class="container">
  <h1>Присутні</h1>
  <div class="second-container">
    <div class="mini-container">
      <div>Выбрать урок</div>
      <select class="selector" [(ngModel)]="selectedLesson" (change)="onLessonChange()">
        <option *ngFor="let lesson of lessons" [value]="lesson.time">
          {{ lesson.lesson }} - {{ convertTime(lesson.time) }} - {{ lesson.groupName }}
        </option>
      </select>
    </div>
    <div class="mini-container">
      <div class="text">Загрузить домашнее задание</div>
      <button class="selector">
        <img src="assets/upload.jpg" alt="Изображение" class="upload-img" />
      </button>
    </div>
  </div>
  <div class="thrid-container">
    <div class="first-row">
      <div class="row-text">Фото</div>
      <div class="row-text2">Фио</div>
      <div class="row-text3">Наличие</div>
      <div class="row-text">Оценка</div>
   
    </div>
    <div class="line"></div>
    <div class="content">
      <div *ngFor="let student of students; let i = index" class="student-container">
        <div class="student-row">
          <div class="row-text">
            <div class="student-photo">
            </div>
            
          </div>
          <div class="row-text2">{{ student.name }}</div>
          <div class="row-text3">
            <div class="attendance">
              <div 
                class="circle" 
                [class.present]="student.attendance === 'present'" 
               
                (click)="changeAttendance(student, 'present')">
              </div>
              <div 
                class="circle" 
                [class.late]="student.attendance === 'late'" 
              
                (click)="changeAttendance(student, 'late')">
              </div>
              <div 
                class="circle" 
                [class.absent]="student.attendance === 'absent'" 
              
                (click)="changeAttendance(student, 'absent')">
              </div>
            </div>
          </div>
          <div class="row-text">
            <select [(ngModel)]="student.grade" class="grades">
              <option *ngFor="let grade of grades" [value]="grade">{{ grade }}</option>
            </select>
          </div>
         
        </div>
        <div class="line"></div>
      </div>
    </div>
    
  </div>
</div>
<app-side-menu></app-side-menu>
