<div class="container">
  <h1>Присутні</h1>
  <div class="second-container">
    <div class="mini-container">
      <div>Вибрати урок</div>
      <select class="selector" [(ngModel)]="selectedLesson" (change)="onLessonChange($event)">
        <option *ngFor="let lesson of lessons" [value]="lesson.lesson">
          {{ lesson.lesson }} - {{ convertTime(lesson.time) }} - {{ lesson.groupName }}
        </option>
      </select>
    </div>
    <div class="mini-container">
      <div class="text">Завантажити домашнє завдання</div>
      <button class="selector" (click)="openModal()">
        <img src="assets/upload.jpg" alt="Зображення" class="upload-img" />
      </button>
    </div>
  </div>
  <div class="thrid-container">
    <div class="first-row">
      <div class="row-text">Фото</div>
      <div class="row-text2">ПІБ</div>
      <div class="row-text3">Присутність</div>
      <div class="row-text">Оцінка</div>
    </div>
    <div class="line"></div>
    <div class="content" *ngIf="selectedGroup">
      <div *ngFor="let student of selectedGroup.students" class="student-container">
        <div class="student-row">
          <img [src]="'data:image/jpeg;base64,' + student.photoBase64" alt="Student photo" class="student-photo">
          <div class="student-info">
            <div>{{ student.firstName }} {{ student.lastName }}</div>
            <div>{{ student.email }}</div>
            <div>{{ student.phoneNumber }}</div>
          </div>
          <div class="attendance">
            <div 
              class="circle" 
              [class.present]="getAttendanceStatus(student).isPresent && !getAttendanceStatus(student).isLate" 
              (click)="changeAttendance(student, 'present')">
            </div>
            <div 
              class="circle" 
              [class.late]="getAttendanceStatus(student).isPresent && getAttendanceStatus(student).isLate" 
              (click)="changeAttendance(student, 'late')">
            </div>
            <div 
              class="circle" 
              [class.absent]="!getAttendanceStatus(student).isPresent && !getAttendanceStatus(student).isLate" 
              (click)="changeAttendance(student, 'absent')">
            </div>
          </div>
          <input type="number" [(ngModel)]="getAttendanceStatus(student).grade" (change)="onGradeChange(student)" class="grades" min="1" max="100">
        </div>
        <div class="line"></div>
      </div>
    </div>
  </div>
  <button class="save-button"(click)="saveLessonDetails()">Зберегти</button>
</div>
<app-side-menu></app-side-menu>
<div class="modal" *ngIf="isModalOpen">
  <div class="modal-content">
    <span class="close" (click)="closeModal()">&times;</span>
    <h2>Завантажити домашнє завдання</h2>
    <form (ngSubmit)="onAddHomeworkSubmit()">
      <label for="description">Опис:</label>
      <input type="text" id="description" [(ngModel)]="homeworkDescription" name="description" required>
      
      <label for="file">Вибрати файл:</label>
      <input type="file" id="file" (change)="onFileChange($event)" required>

      <button type="submit">Зберегти</button>
    </form>
  </div>
</div>
