<div class="container">
  <div class="central-container">
    <h1>Підсистема вчитель Дніпровського технологічного університету Шаг</h1>

    <input
      class="enter-field"
      type="text"
      id="username"
      name="username"
      placeholder="Логін"
      [(ngModel)]="username"
    />

    <input
      class="enter-field"
      type="password"
      id="password"
      name="password"
      placeholder="Пароль"
      [(ngModel)]="password"
    />

    <button class="enter-button" (click)="login()">Вхід</button>
  </div>
</div>
