<div class="main-container">
    <div class="container">
      <h1>Загрузка файла нагрузки</h1>
      <button (click)="downloadTemplate()" class="btn btn-secondary">Скачать шаблон плана</button>
      <!-- <form (ngSubmit)="onSubmit()" #uploadForm="ngForm">
        <div class="form-group">
          <label for="file" class="form-label">Выберите файл</label>
          <input type="file" id="file" (change)="onFileSelected($event)" required class="form-input"/>
        </div>
        <button type="submit" class="btn btn-primary">Загрузить</button>
      </form> -->
    </div>
  </div>
  <app-side-menu></app-side-menu>
  