<div class="container">
    <div class="tabs">
      <button (click)="selectTab('methodical')" [class.active]="selectedTab === 'methodical'">МЕТОДИЧНІ МАТЕРІАЛИ</button>
      <button (click)="selectTab('my-materials')" [class.active]="selectedTab === 'my-materials'">МОЇ МАТЕРІАЛИ</button>
    </div>
    <div *ngIf="selectedTab === 'methodical'" class="tab-content">
      <!-- Содержимое для "МЕТОДИЧНІ МАТЕРІАЛИ" -->
    </div>
    <div *ngIf="selectedTab === 'my-materials'" class="tab-content">
        <div class="first-row">
      
      <div class="form-group">
        <label>Оберіть напрямок</label>
        <select>
          <!-- Опции -->
        </select>
      </div>
      <div class="form-group">
        <label>Оберіть методпакет</label>
        <select>
          <!-- Опции -->
        </select>
      </div>
    
    </div>
    </div>
  </div>
  
<app-side-menu></app-side-menu>