<div class="container">
  <h1>Профіль</h1>
  <div class="second-container">
    <div class="first-block">
      <div class="circle">
        <img *ngIf="profilePhotoUrl" [src]="profilePhotoUrl" alt="Фото профілю" class="profile-photo">
      </div>
      <button class="upload" (click)="openFileDialog()">Завантажити фото</button>
    </div>
    <div class="second-block">
      <label for="firstName" class="form-label">Ім'я</label>
      <input id="firstName" class="input" [(ngModel)]="profile.firstName" placeholder="Ім'я"/>
      
      <label for="lastName" class="form-label">Прізвище</label>
      <input id="lastName" class="input" [(ngModel)]="profile.lastName" placeholder="Прізвище"/>
      
      <label for="email" class="form-label">Email</label>
      <input id="email" class="input" [(ngModel)]="profile.email" placeholder="Email"/>
      
      <label for="phoneNumber" class="form-label">Телефон</label>
      <input id="phoneNumber" class="input" [(ngModel)]="profile.phoneNumber" placeholder="Телефон"/>
      
      <button class="upload" id="save-button" (click)="onSave()">Сберегти даннi</button>
    </div>
 
  </div>
  <div class="certificates-section">
    <h2>
      Документи, що підтверджують кваліфікацію викладача</h2>
    <ul class="certificates-list">
      <li *ngFor="let certificate of certificates">
        {{ certificate.name }}
        <button (click)="downloadCertificate(certificate.id)">Завантажити</button>
        <button (click)="deleteCertificate(certificate.id)">Видалити</button>
      </li>
    </ul>
    <div class="upload-section">
      <label for="certificateName" class="form-label">Назва сертифіката</label>
      <input type="text" id="certificateName" [(ngModel)]="certificateName" class="form-input"/>
      
      <label for="certificateFile" class="form-label">Завантажити сертифікат</label>
      <input type="file" id="certificateFile" (change)="onCertificateSelected($event)" class="form-input"/>
      <button class="upload" (click)="onUploadCertificate()">Завантажити</button>
    </div>
  </div>
</div>
<app-side-menu></app-side-menu>
