<div class="container">
  <h1>Профіль</h1>
  <div class="second-container">
    <div class="first-block">
      <div class="circle"></div>
      <button class="upload">Завантажити фото</button>
    </div>
    <div class="second-block">
      <input class="input" />
      <input class="input" />
      <input class="input" />
      <input class="input" />
      <button class="upload" id="save-button">Сберегти даннi</button>
    </div>
    <div class="third-block">
      <textarea class="big-input"></textarea>
      <button class="upload" id="big-button">Сберегти iнформацiю</button>
    </div>
  </div>
</div>
<app-side-menu></app-side-menu>
