<div class="container">
  <h1>Розклад Занять</h1>
  <div class="second-container">
    <img
      src="assets/Arrow.svg"
      alt="Зображення"
      (click)="previousMonth()"
      class="arrow"
    />
    <h2>{{ currentMonth }} {{ currentYear }}</h2>
    <img
      src="assets/Arrow.svg"
      alt="Зображення"
      (click)="nextMonth()"
      class="arrow"
      id="right-arrow"
    />
  </div>
  <div class="third-container">
    <div class="day-name">Пн</div>
    <div class="day-name">Вт</div>
    <div class="day-name">Ср</div>
    <div class="day-name">Чт</div>
    <div class="day-name">Пт</div>
    <div class="day-name">Сб</div>
    <div class="day-name">Нд</div>
  </div>
  <div class="days">
    <div 
      class="day" 
      *ngFor="let day of daysInMonth" 
      [class.has-lessons]="hasLessons(day)" 
      (click)="day ? showPopup(day) : null"
    >
      {{ day }}
    </div>
  </div>
  <div class="popup" *ngIf="showPopupFlag">
    <!-- Здесь содержимое вашего всплывающего окна -->
    <p>Уроки на день {{ selectedDay }}</p>
    <ul>
      <li *ngFor="let lesson of getLessonsForSelectedDay()">
        {{ formatTime(lesson.time) }} - {{ lesson.lesson }} 
      </li>
    </ul>
    <button (click)="hidePopup()">Закрити</button>
  </div>
</div>
<app-side-menu></app-side-menu>
