<!-- sylabus-page.component.html -->
<div class="container">
    <div class="main-container">
      <div class="form-group">
        <label for="disciplines">Выберите дисциплину</label>
        <select id="disciplines" class="form-control" (change)="onDisciplineChange($event)">
          <option *ngFor="let discipline of disciplines" [value]="discipline.id">
            {{ discipline.name }}
          </option>
        </select>
      </div>
  
      <div *ngIf="selectedDiscipline">
        
      
     
     
        <div class="form-group">
          <label for="literature">Література</label>
          <textarea id="literature" class="form-control" [(ngModel)]="syllabus.literature"></textarea>
        </div>
      
        <div class="form-group">
          <label for="teacherInfo">Інформація про викладача</label>
          <textarea id="teacherInfo" class="form-control" [(ngModel)]="syllabus.teacherInfo"></textarea>
        </div>
        <div class="form-group">
          <label for="prerequisites">Пререквізити (попередні дисципліни, необхідні для опанування дисципліни)</label>
          <textarea id="prerequisites" class="form-control" [(ngModel)]="syllabus.prerequisites"></textarea>
        </div>
        <div class="form-group">
          <label for="corequisites">Пореквізити (дисципліни, в яких будуть використовуватися знання, отримані під час вивчення курсу)</label>
          <textarea id="corequisites" class="form-control" [(ngModel)]="syllabus.corequisites"></textarea>
        </div>
        <div class="form-group">
          <label for="disciplineGoal">Мета навчальної дисципліни</label>
          <textarea id="disciplineGoal" class="form-control" [(ngModel)]="syllabus.disciplineGoal"></textarea>
        </div>
        <div class="form-group">
          <label for="disciplineContent">Зміст дисципліни</label>
          <textarea id="disciplineContent" class="form-control" [(ngModel)]="syllabus.disciplineContent"></textarea>
        </div>
        <div class="form-group">
          <label for="individualTasks">Індивідуальні завдання</label>
          <textarea id="individualTasks" class="form-control" [(ngModel)]="syllabus.individualTasks"></textarea>
        </div>
        <div class="form-group">
          <label for="software">Програмне забезпечення навчальної дисципліни</label>
          <textarea id="software" class="form-control" [(ngModel)]="syllabus.software"></textarea>
        </div>
        <div class="form-group">
          <label for="studyResults">Результати вивчення</label>
          <textarea id="studyResults" class="form-control" [(ngModel)]="syllabus.studyResults"></textarea>
        </div>
        <div class="form-group">
          <label for="additionalInfo">Додаткова інформація</label>
          <textarea id="additionalInfo" class="form-control" [(ngModel)]="syllabus.additionalInfo"></textarea>
        </div>
      
        <button class="btn btn-primary" (click)="uploadSyllabus()">Загрузить Силлабус</button>
    </div>
    </div>
  </div>
  <app-side-menu></app-side-menu>
  