<div class="sidebar">
  <ul>
    <li><a href="presence">Присутні</a></li>
    <li><a href="schedule">Розклад занять</a></li>
    <li><a href="news">Новини</a></li>
    <li><a href="students">Студенти</a></li>
    <li><a href="#">Відвідуваність</a></li>
    <li><a href="materiali">Матеріали</a></li>
    <li><a href="load-work">Навантаження</a></li>
    <li><a href="profile">Профіль</a></li>
    <li><a href="individual-plan">Планування</a></li>
    <li><a href="exchange">Взаємовідвідування</a></li>
    <li><a href="sylabus">Силабус</a></li>
    <li><a href="#">Домашні завдання</a></li>
    <li><a href="tests">Тести</a></li>
    <li><a href="meetings">Засідання</a></li>
    <li><a href="#">Контакти</a></li>
    <li><a href="chat">Чат</a></li>
  </ul>
</div>
