.sidebar {
  position: fixed;
  top: 0;
  left: -180px; /* Начальная позиция за левой границей экрана */
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333; /* Цвет фона меню */
  color: #fff; /* Цвет текста */
  transition: left 0.3s ease; /* Анимация для плавного открытия и закрытия */
  z-index: 9999;
}

.sidebar.open {
  left: 0; /* Отобразить меню */
}
.sidebar:hover {
  left: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-top: 25px;
  display: flex;
  justify-content: center;
}

ul li a {
  color: #fff;
  text-decoration: none;
}

ul li a:hover {
  text-decoration: underline;
}

.logout-button {
  color: #fff;
  background-color: #ff4d4d; /* Красный фон для выделения */
  border: none;
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1em; /* Увеличенный размер шрифта */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход */
}

.logout-button:hover {
  background-color: #ff1a1a; /* Более яркий красный при наведении */
  color: #fff;
}
